/* GLOBAL */

:root {
  --primary-color: #2475C9;
  --secondary-color: rgb(98,151,205);
  --light-color: #E5E5E5;
  --accent-color: orange;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
}

/* HEADER */

.header-container {
  height: 40vh;
  position: relative;
}

.svg-person {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 70%;
  display: block;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
}

.svg-skateboard-1,
.svg-skateboard-2 {
  position: absolute;
  display: block;
  height: 180px;
  padding: 0;
  margin: 0;
}

.svg-skateboard-1 {
  left: 0;
  top: 20%;
}

.svg-skateboard-2 {
  left: 60px;
  top: 10%;
}

.svg-lamp {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  height: 100%;
  transform: translateX(calc(50% - 5.5px));
}

/* NAVBAR */

.nav-container {
  width: 100%;
  background-color: var(--primary-color);
}

nav {
  margin: 0;
  overflow: hidden;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 1em 1em 1em 20px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li:first-child a,
nav ul li:nth-child(2) a {
  border-right: 2px solid white;
}

nav > ul > li > a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0em 1em;
  transition: all 250ms ease-in-out;
}

nav > ul > li > a:hover {
  color: var(--accent-color);
}

/* MISSION */

.mission-container {
  background-color: var(--light-color);
}

.mission-container p {
  text-align: center;
  line-height: 25px;
  margin: 0px;
  padding: 100px 80px;
}

/* PROJECTS */

.projects-title,
.projects-main {
}

.projects-title h1 {
  color: var(--secondary-color);
  background-color: var(--light-color);
  padding: 10px 20px;
  margin: 0px;
  font-size: 2.5em;
}

.projects-main {
  height: 100px;
  padding: 10px 50px;
  background-color: var(--secondary-color)
}

/* FOOTER */

.footer-container {
  padding: 10px 0px;
  background-color: var(--primary-color);
}

/* BLOG */

.blog-container {
  height: 500px;
  background-color: var(--light-color);
  padding: 0px 10px;
}

.blog-container h1 {
  margin: 0px;
  padding: 20px 0px;
}

/* CONTACT */

.contact-container {
  height: 500px;
  background-color: var(--light-color);
  padding: 0px 10px;
}

.contact-container h1 {
  margin: 0px;
  padding: 20px 0px;
}