/* variables */
:root{
    --light-color: rgb(241, 241, 241);

    /* blue & orange */
    /* --primary-color: rgb(50, 113, 180);
    --secondary-color: rgb(93, 155, 218);
    --accent-color: rgb(248, 148, 33); */

    /* greyscale */
    /* --primary-color:  #a8a8a8;
    --secondary-color: #777777;
    --accent-color: #88e09b; */

    /* wombo combo */
    /* --primary-color:  #8ea8c3;
    --secondary-color: #406e8e;
    --accent-color: #94D0C2; */

    /* test */
    --primary-color:  #96c7e4;
    --secondary-color: #3d5a80;
    --accent-color: #ee6c4d;
}

/* reset */
html, body {
    width: 100%;
    height: 100%;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

section {
    z-index: 1;
}

body::-webkit-scrollbar {
    display: none; 
}

li{
    list-style-type: none;
}

.svg {
    width: 50px;
    height: 50px;
}

input, textarea {
    outline: none;
}

/* base styles */
.wrapper {
    margin: 0 auto;
    max-width: 980px;
    width: calc(100% - 20px) !important;
}

.wrapper-inside {
    padding: 0px;
}

.shadow {
    box-shadow: none;
}

.page-inner {
    padding: 30px 0px;
}

.hidden{
    display: none;
}

input[type="text"], textarea {
    padding: 10px 20px;
    margin: 0px;
    border-radius: 15px;
    border: 2px solid #f2f2f2;
}

.link {
    color: var(--accent-color);
}

.clickable {
    padding: 3px 8px;
    margin: 10px 0px;
    border-radius: 15px;
    border: 2px solid var(--accent-color);
    background-color: white;
    color: var(--accent-color);
    cursor: pointer;
    transition: all ease 300ms;
}

.clickable:hover{
    background-color: var(--accent-color);
    color: white !important;
}

.clickable:hover > a {
    color: white;
}

figure {
    margin: 0px;
    padding: 0px;
}

img {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

/* svgs */

.mac {
    display: block;
    width: 60%;
    margin: auto;
    padding: 0px;
}

.mac-monitor {
    position: absolute;
}

.screen img {
    padding: 0px;
    width: 92px !important;
    height: 53px !important;
    transition: all 300ms linear;
}

.mobile-svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: var(--accent-color);
    position: relative;
    top: 1px;
}

/* fonts */
h1 {
    margin: 0px 0px 30px 0px;
    font-size: 2.2em;
}

h2, h4 {
    font-size: 1.5em;
}

a, p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* transition - fade */
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter-active {
    opacity: 1;
    transition: all 400ms ease;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: all 400ms ease;
}

/* transitions - fade drop */
.fadeDrop-enter {
    opacity: 0;
    z-index: 1;
    transform: translateY(-10px);
  }
  .fadeDrop-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 200ms linear 200ms;
  }
  .fadeDrop-exit {
    opacity: 1;
    transform: translateY(0px);
  }
  .fadeDrop-exit-active {
    opacity: 0;
    transition: all 200ms;
    transform: translateY(-10px);
  }

/* transition - left enter */

.left-enter {
    z-index: 2;
    right: -100%;
  }
  .left-enter-active {
    z-index: 2;
    right: 0%;
    transition: all 400ms linear;
  }
  .left-exit {
    right: 0;
  }
  .left-exit-active {
    right: 0;
  }
  
  /* transition - right enter */
  
  .right-enter {
    z-index: 2;
    right: 100%;
  }
  .right-enter-active {
    z-index: 2;
    right: 0%;
    transition: all 400ms linear;
  }
  .right-exit {
    right: 0;
  }
  .right-exit-active {
    right: 0;
  }

/* header */
#header {
    position: relative;
    padding-top: 3.5em;
}

#person {
    width: 90% !important;
    max-width: 600px;
    position: relative;
    left: 50%;
    bottom: -3px;
    transform: translate(-50%, 0%);
    z-index: 3;
}

#chair {
    fill: var(--secondary-color);
}

.shirt-item {
    fill: var(--primary-color);
    stroke-width: 2px;
    stroke: var(--primary-color);
}

.laptop-item {
    fill: var(--secondary-color);
}

#loading-container {
    fill: white;
}

.loading {
    fill: var(--accent-color);
    -webkit-animation: sk-scaleout 1000ms ease infinite;
    animation: sk-scaleout 1000ms ease infinite;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { 
      r: 0;
      opacity: 1;
     }
    100% {
      r: 22;
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      r: 0;
      opacity: 1;
    } 100% {
      r: 22;
      opacity: 0;
    }
  }

.mug-item {
    fill: var(--accent-color);
}

#lamp {
    width: 80px;
    height: 280px;
    position: absolute;
    right: 60px;
    bottom: 0px;
}

.light-bulb {
    fill: var(--accent-color);
}

.skateboard {
    position: absolute;
    width: 50px;
    height: 200px;
}

#skateboard-1 {
    left: 60px;
    bottom: 30px;
    fill: var(--accent-color);
}

#skateboard-2 {
    left: 120px;
    bottom: 70px;
    fill: var(--secondary-color);
}

.show-desktop {
    display: none;
}

/* nav */

#navbar {
    margin: auto;
    max-width: 980px;
    width: 100%;
    background-color: var(--secondary-color) !important;
    padding: 0px;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.margin-top {
    margin-top: 41px;
}

nav ul {
    padding: 10px 0px;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    padding: 0px 10px;
    color: white;
    transition: all ease 300ms;
}

nav li a:hover {
    color: var(--accent-color) !important;
}

/* mission */
#mission p {
    text-align: center;
    padding: 30px 0px;
}

#mission span {
    color: var(--accent-color);
}

/* projects - mobile */
#projects {

}



#project-list {
    margin-bottom: 40px;
}

.project-card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px lightgrey;
    margin-bottom: 20px;
}

.project-card-title {
    padding: 0px;
    margin: 20px 0px;
    border-bottom: 1px solid lightgrey;
}

.project-card h2 {
    padding: 0px;
    margin: 5px 10px 5px 0px;
    display: inline-block;
}

.project-card p {
    margin: 0px;
}

.technologies {
    padding: 20px 0px 10px 0px;
}

.technology {
    padding: 5px 10px;
    margin: 0px 5px 5px 0px;
    background-color: var(--accent-color);
    border-radius: 15px;
    display: inline-block;
    color: white;
}

/* projects - desktop */

#carousel {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    padding: 70px 10px;
}

#projects h1 {
    padding: 0px;
}

#carousel-main {
    display: flex;
    flex: 1;
    padding: 0px 30px;
}

#carousel-info {
    position: relative;
    margin-left: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#carousel-info-inside {
    position: absolute;
}

#carousel-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#carousel-title h2 {
    padding: 0px;
    margin: 0px;
}

.svg-link{
    height: 1.2em;
    width: 1.2em;
    fill: var(--accent-color);
    padding: 6px 0px 0px 5px;
}

#carousel-technologies li {
    display: inline;
}

.arrow {
    width: 25px;
    height: 200px;
    fill: var(--accent-color);
    cursor: pointer;
}

#mac {
    position: relative;
    width: 250px;
}

#screen {
    x: 4px;
    y: 4px;
    width: 92px;
    height: 53px;
    position: relative;
}

#screen img {
    padding: 0px !important;
    width: 100%;
    height: 100%;
}

/* bio */
#bio {
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}

#bio h1 {
    margin-bottom: 30px;
}

#bio-content {
    padding: 0px 0px 10px 0px;
    margin: 0px;
}

#bio-content img {
    width: 40vw;
    max-width: 220px;
    margin: 0px 30px 10px 0px;
    padding: 0px;
    border-radius: 10px;
    float: left;
}

#bio-content p {
    padding-top: 0px;
    margin-top: 0px;
}

#bio ul {
    margin-top: 10px;
}

#bio ul li {
    display: inline;
    padding: 0px 10px 0px 0px;
    margin: 0px;
}

/* blog */

#blog {
    margin: 0px 0px;
}

.blog-link {

    padding: 3px 8px;
    margin: .7em 0px;
    border-radius: 15px;
    display: table;
    background-color: var(--light-color);
    transition: all ease 300ms;
}

.blog-link a {
    font-size: 1em;
    color: var(--secondary-color);
}

#medium-link {
    text-align: center;
}

#medium-link a {
    padding-left: 0.2em;
}

/* blog show */

#blog-show h1{
    margin: 0px;
}

#blog-show h4 {
    margin: 2em 0px .8em 0px;
}

#blog-show h6{
    padding: 0px;
    margin: 0px 0px 3em 0px;
}

#blog-show a {
    color: var(--accent-color);
}

#blog-show li {
    list-style-type: disc;
    margin-bottom: 5px;
}

#blog-show pre {
    width: calc(100vw - 20px);
    margin: 10px 0px;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#blog-show figure {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#blog-show img {
    max-height: 50vh !important;
    max-width: calc(100% - 20px);
    margin: 0px;
    padding: 10px;
}

/* skills */

#skills {
    width: 100%;
    padding: 40px 0px 40px 0px;
}

#skills-inside {
    padding-bottom: 40px;
}

#skills h1 {
    padding: 10px 0px;
}

#skill-cards {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.skill-card {
    width: 100%;
    max-width: 180px;
    min-width: 100px;
    min-height: 210px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    margin: 0px 10px 20px 10px;
    overflow: hidden;
    transition: all ease 300ms;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px lightgrey;
}

.skill-card h2 {
    border-bottom: 1px solid white;
    margin: 0px;
    padding: 0px;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    text-align: center;
}

.skill-card ul {
    padding: 10px;
}

.skill-card li {
    margin-bottom: 3px;
}

#skills-border {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 0%, var(--secondary-color) 30%, var(--secondary-color) 70%, transparent 100%)
}

/* contact */
#contact {
   margin: 0px;
}

#contact form {
    background-color: var(--light-color);
    border-radius: 15px;
    padding: 10px;
    max-width: 600px;
    margin: auto;
}

#contact input, #contact textarea {
    margin-bottom: 5px;
}

#contact-inputs {
    display: flex;
    flex-direction: column;
}

#contact input[type="submit"] {
    display: block;
    margin: auto;
}

/* footer */
footer {
    width: 100%;
    background-color: var(--secondary-color);
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 6px 0px;
    font-size: .9em;
}

footer span {
    color: var(--primary-color);
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){

    body {
        font-size: 16px;
    }

    #person {
        bottom: -4px;
    }

}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

    #box-shadow-hide{
        margin: auto;
        width: 980px;
        height: 9px;
        background-color: white;
    }

    .wrapper-inside {
        padding: 0px 10px;
    }

    .shadow {
        box-shadow:  0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0px 15px -4px rgba(221, 221, 221, 0.8), -12px 0 15px -4px rgba(221, 221, 221, 0.8);
    }

    .margin-top {
        margin-top: 0px;
    }

    .blog-link:hover {
        transform: translateX(15px);
    }

    .show-desktop {
        display: block
    }

    #mission {
        padding: 50px;
    }

    #projects h1 {
        padding: 0px 10px;
    }

    #blog-show img {
        width: calc(100vw - 20px);
        margin: 0px;
        padding: 30px 10px;
    }

    footer {
        margin: 0 auto;
        max-width: 980px;
        width: calc(100% - 20px) !important;
    }
    

}

/* desktop styles */
@media screen and (min-width: 1200px){

    

}